* {
  box-sizing: border-box;
}
.page {
  min-height: 100vh;
  position: relative;
}

.page__content {
  max-width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
