* {
  box-sizing: border-box;
}
.page {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.page__content {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
}
